/* index.css */

body {
    font-family: Arial, sans-serif;
    background: url('modboys.jpg') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    color: goldenrod;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}

h1 {
    font-size: 2em;
    margin-bottom: 10px;
}

h2 {
    font-size: 3em;
    margin: 20px 0;
}

button {
    font-size: 1.2em;
    padding: 10px 20px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

button:hover {
    background-color: #0056b3;
}

button:active {
    background-color: #004080;
}

#increment-btn {
    background-color: #28a745;
}

#increment-btn:hover {
    background-color: #218838;
}

#increment-btn:active {
    background-color: #1e7e34;
}

#save-btn {
    background-color: #ffc107;
}

#save-btn:hover {
    background-color: #e0a800;
}

#save-btn:active {
    background-color: #c69500;
}
