/* index.css */

body {
    font-family: 'Arial', sans-serif;
    background: url('modboys.jpg') no-repeat center center fixed;
    background-size: cover;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    color: #fff;
    text-align: center;
}

.container {
    background: rgba(0, 0, 0, 0.5);
    padding: 2em;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em; /* Space between elements */
}

h1 {
    font-size: bold;
    margin-top: 10px;
    margin-bottom: 20px;
    color: gold;
}

h2 {
    font-size: 3em;
    margin-top: 0;
    margin-bottom: 20px;
}

button {
    background-color: #00ccff;
    color: #fff;
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: bold;
    border-radius: 5px;
    width: 200px;
    margin-bottom: 5px;
}

